---
import LayoutAuth from "../../layouts/LayoutAuth.astro";
---

<script>
  const signUpButton = document.getElementById("signUp");
  const signInButton = document.getElementById("signIn");
  const container = document.getElementById("container");

  signUpButton.addEventListener("click", () => {
    container.classList.add("right-panel-active");
  });

  signInButton.addEventListener("click", () => {
    container.classList.remove("right-panel-active");
  });

  const handleValidate = (e) => {
    e.preventDefault();
    //Verificaion de datos vacios
    if (nombre.length == 0 && email.length == 0 && password.length == 0) {
      toast.info("Campo vacio", {
        position: "top-center",
        autoClose: 1500,
        hideProgressBar: false,
        closeOnClick: true,
        pauseOnHover: true,
        draggable: true,
        progress: undefined,
        theme: "light",
      });
      return;
    }
    if (
      validName.test(nombre) &&
      validCorreo.test(email) &&
      validPassword.test(password)
    ) {
      const data = JSON.parse(localStorage.getItem("usuarios")) || [];
      // verificacion de datos repetidos
      const check = data.find((event) => event.email === email);
      if (check) {
        toast.warn(
          "correo electronico ya esta registrado en la base de datos",
          {
            position: "top-right",
            autoClose: 1500,
            hideProgressBar: false,
            closeOnClick: true,
            pauseOnHover: true,
            draggable: true,
            progress: undefined,
            theme: "light",
          },
        );
        setNombre("");
        setEmail("");
        setPassword("");
        return;
      }
      // encryptar password
      let key = dataEncrypt(password);
      const user = {
        nombre,
        email,
        key,
        rol: "user",
      };
      const newData = [...data, user];
      localStorage.setItem("usuarios", JSON.stringify(newData));
      // limpiar datos de los inputs

      setNombre("");
      setEmail("");
      setPassword("");
      window.location.href = "/login";
    } else {
      setNombrerr(true);
      setEmailErr(true);
      setPwdError(true);
      setTimeout(function () {
        window.location.reload();
      }, 2000);
    }
  };
</script>

<LayoutAuth title="Inicio sesión / Registro">
  <div class="container" id="container">
    <div class="form-container sign-up">
      <form id="signup-form">
        <h1>Crear usuario</h1>
        <span>Proporciona la información siguiente!</span>
        <input type="text" id="username" placeholder="Nombre de usuario" />
        <input type="email" id="email" placeholder="Email" />
        <input type="password" id="password" placeholder="Clave" />
        <button type="submit">Crear</button>
      </form>
    </div>

    <div class="form-container sign-in">
      <form id="signin-form">
        <h1>Inicio de sesión</h1>
        <span>Proporciona tus datos</span>
        <input type="email" id="signin-email" placeholder="Email" />
        <input type="password" id="signin-password" placeholder="Clave" />
        <a href="#">Olvidaste tu clave?</a>
        <button type="submit">Iniciar</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Ya tienes cuenta!</h1>
          <p>Inicia sesión para empezar a disfrutar de la buena música</p>
          <button id="signIn">Iniciar</button>
        </div>

        <div class="overlay-panel overlay-right">
          <h1>Nuevo usuario?</h1>
          <p>Registrate para empezar a disfrutar de la buena música!</p>
          <button id="signUp">Registro</button>
        </div>
      </div>
    </div>
  </div>
</LayoutAuth>
