@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff0004;
}

.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 20px;
}

.card {
  width: 1300px;
  height: 515px;
}

.card .card-content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s;
  transform-style: preserve-3d;
  margin-bottom: 100px;
}

.card-content {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-content:hover {
  transform: rotateY(180deg);
}

.card-content:not(:hover) {
  transform: rotateY(0deg);
}

.card .card-content .front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #49f216;
  backface-visibility: hidden;
}

.card .card-content .front h2 {
  font-weight: 500;
}

.card .card-content .front p {
  color: #d1ff04;
  font-size: 13px;
}

.card .card-content .front button {
  width: 120px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50px;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
}

.card .card-content .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #fff;
  color: #333;
  padding: 40px 30px;
  /*   transform: translateY(180deg); */
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card .card-content .back img {
  width: 120px;
}

.card .card-content .back h1 {
  font-size: 30px;
  line-height: 55px;
  margin-bottom: 10px;
}

.card .card-content .back h1 span {
  font-weight: 400;
}

.card .card-content .back p {
  font-size: 14px;
}

.card .card-content .back .row {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.card .card-content .back .row .col {
  flex: 1;
  text-align: center;
  color: #555;
  font-size: 12px;
  position: relative;
}

.card .card-content .back .row .col::after {
  position: absolute;
  content: "";
  width: 1.5px;
  height: 20px;
  background: #4070f4;
  top: 5px;
  right: 0;
}

.card .card-content .back .row .col:last-child:after {
  display: none;
}

.card .card-content .back .row .col h2 {
  font-size: 20px;
}

.card .card-content .back .row .col p {
  margin-top: 5px;
}

.card .card-content .back .row button {
  background: #4070f4;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 8px 25px;
  border-radius: 30px;
  font-size: 14px;
  margin-right: 15px;
  box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
  cursor: pointer;
}

.card .card-content .back .row a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  text-decoration: none;
}

.card .card-content .back .row a i {
  color: #333;
}
