---
import Layout from "@layouts/Layout.astro";
import { RadioPlayer } from "@components/RadioPlayer.jsx";

const idLofiPlaylist = "3338949242"
---

<Layout title="SoundHead - Radio">
	<main class="w-full max-w-[800px] mx-auto px-4 pb-10">
		<RadioPlayer idPlaylist={idLofiPlaylist} client:visible />
	</main>
</Layout>
