---
import Layout from "@layouts/Layout.astro";
import lofi from "@assets/lofi.jpg";
import pop from "@assets/pop.jpg";
import { Image } from "astro:assets";
---

<Layout title="SoundHead - Inicio">
	<div class="bg-zinc-900 h-full w-full overflow-hidden">
		<main class="max-w-[800px] h-full mx-auto px-4 py-20">
			<section>
				<h2 class="text-5xl font-bold text-balance text-green-500">
					SoundHead
				</h2>
				<p class="text-lg mt-3">
					Es una plataforma de música en línea, donde puedes escuchar las
					mejores canciones desde donde quieras, las 24 horas del día con
					nuestras radios lofi y pop.
				</p>
			</section>
			<section class="mt-20">
				<h2 class="text-3xl font-bold mb-3">
					Escucha nuestra <span class="text-green-500">Radio LoFi</span>
				</h2>
				<Image
					src={lofi}
					alt="Cassette with written note: LoFi Music"
					class="rounded-lg aspect-video object-cover"
				/>
				<p class="text-lg my-4">
					La música lofi es un género musical que se caracteriza por su sonido
					relajante y tranquilo. Es ideal para estudiar, trabajar o relajarse.
					En SoundHead puedes escuchar música lofi las 24 horas del día.
				</p>
				<a
					href="/radio/lofi"
					class="px-4 py-1 rounded-sm border hover:border-green-500 hover:bg-green-500 hover:text-zinc-900 duration-200"
					>Escuchar</a
				>
			</section>
			<section class="mt-20">
				<h2 class="text-3xl font-bold mb-3">
					Escucha nuestra <span class="text-green-500">Radio Pop</span>
				</h2>
				<Image
					src={pop}
					alt="Drawing of cheerful woman with headphones listening to music"
					class="rounded-lg aspect-video object-cover pop-img"
				/>
				<p class="text-lg my-4">
					La música pop es un género musical que se caracteriza por su sonido
					alegre y pegajoso. Es ideal para bailar, cantar o simplemente
					divertirse. En SoundHead puedes escuchar música pop las 24 horas del
					día.
				</p>
				<a
					href="/radio/pop"
					class="px-4 py-1 rounded-sm border hover:border-green-500 hover:bg-green-500 hover:text-zinc-900 duration-200"
					>Escuchar</a
				>
			</section>
		</main>
	</div>
</Layout>

<style>
	.pop-img {
		object-position: 4% 80%;
	}
</style>
