---
import { Github } from "@icons/Github.jsx";
---

<footer
  class="py-20 px-4 sm:px-20 bg-zinc-950 min-h-96 grid grid-cols-1 lg:grid-cols-2"
>
  <div class="">
    <h2 class="font-bold text-3xl text-balance">
      Proyecto de
      <a
        target="_blank"
        href="https://lexpin.online/#/codicon"
        class="text-green-500 hover:underline"
        >Codicon 2024
      </a>
    </h2>
    <a
      target="_blank"
      href="https://github.com/corderodev/codesclub-codicon-2024"
      class="mt-3 mb-5 inline-flex items-center hover:underline"
    >
      <Github className="size-5" />
      <span class="ml-1">Código fuente</span>
    </a>
    <h3 class="my-3 text-lg font-semibold">Equipo Codes Club</h3>
    <ul
      class="flex flex-col gap-1 mb-4 list-disc pl-5 decoration-white [&>li>a:hover]:underline [&>li>a:hover]:underline-offset-4"
    >
      <li>
        <a target="_blank" href="https://github.com/corderodev">Daniel Cordero - @corderodev</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/rjalvarez27">Raúl Alvarez - @rjalvarez27</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/jonathanjrm">Jonathan Rincon - @jonathanjrm</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/AriadnaG121320">Ariadna Guerrero - @AriadnaG121320</a>
      </li>
    </ul>
  </div>
  <div class="w-fit mt-10 sm:mt-0">
    <h3 class="text-3xl font-semibold mb-3 text-balance">Acerca de SoundHead</h3>
    <p class="max-w-[60ch] text-start text-pretty">
      SoundHead es una aplicación de radio en línea que te permite escuchar
      música de diferentes géneros y artistas. Con una interfaz intuitiva y
      fácil de usar, SoundHead te brinda acceso a una amplia variedad de
      canciones para que disfrutes en cualquier momento y lugar.
      <br>
      Es un proyecto desarrollado con fines educativos y de aprendizaje.
    </p>
    <h4 class="text-xl font-bold mt-4 mb-3">Tecnologías usadas</h4>
    <p>Astro, TailwindCSS, React</p>
  </div>
</footer>
