---
import { Radio } from "@icons/Radio";
---

<header class="px-4 py-6 sm:px-20 flex flex-wrap gap-4 justify-between bg-zinc-950">
  <h1 class="text-lg [&>a:hover]:underline [&>a:hover]:underline-offset-4 [&>a:hover]:text-green-400 [&>a]:duration-200">
    <a href="/" class="flex items-center gap-1">
      <Radio className="size-6" />
      SoundHead
    </a>
  </h1>
  <nav class="w-fit text-lg">
    <ul
      class="flex gap-4 [&>li>a:hover]:underline [&>li>a:hover]:underline-offset-4 [&>li>a:hover]:text-green-400 [&>li>a]:duration-200"
    >
      <li><a href="/">Inicio</a></li>
      <li><a href="/radio/lofi">Radio Lofi</a></li>
      <li><a href="/radio/pop">Radio Pop</a></li>
    </ul>
  </nav>
</header>
